<!DOCTYPE html>
<html ng-app='ShoppingListApp'>
  <head>
    <meta charset="utf-8">
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
<link rel="stylesheet" href="styles.css">
    <title>ng-if, ng-show and ng-hide</title>
  </head>
  <body>
    <h1>ng-if, ng-show and ng-hide</h1>

  <!--PreConfigured List items-->
    <div ng-controller='ShoppingListController as list'>
      <h3>Shopping List </h3>
      <input type="text" ng-model= "list.itemName" placeholder="item name"><br>
      <input type="text" ng-model= "list.itemQuantity" placeholder="quantity"><br>
      <button ng-click= "list.addItem();">Add Item to List</button>
      <ol>
        <li ng-repeat="item in list.items">
          {{ item.quantity}} of {{ item.name}}
          <button ng-click= "list.removeItem($index);">remove Item from List</button>
        </li>
        </ol>
    <!--    <div ng-if="list.errorMessage" class="error">Error: {{ list.errorMessage}} </div>-->
  <!--        <div ng-show="list.errorMessage" class="error">Error: {{ list.errorMessage}} </div>-->
      <div ng-hide="!list.errorMessage" class="error">Error: {{ list.errorMessage}} </div>

    </div>
  </body>
</html>
